<div class="vehicule-card">
    <button routerLink="/vehicules">Retour</button>
    <h3>{{vehicule.marque}} {{vehicule.modele}}</h3>
    <p>Type de véhicule : {{vehicule.type}}</p>
    <p>Statut : {{vehicule.statut}}</p>
    <p>Prix/jour : {{vehicule.prix | currency : 'EUR'}}</p>
    <p>{{vehicule.etat}}</p>
    <p>{{vehicule.immatriculation}}</p>
    <button class="louer">Louer</button>
    <button (click)="onModifier()">Modifier</button>
    <button class="suppr" (click)="onSupprimer(vehicule.id)">Supprimer</button>
</div>